<%= link_to "Home", root_path %>
<center><%= link_to "New Post", new_post_path %></center>

<fieldset>
<table>
	<tr>
		<th>Title:</th>
		<th>Text:</th>
	</tr>
</table>
<br>

<% @posts.each do |post| %>
	<% if current_user.id == post.user_id %><br>
	<tr><%= post.title %></tr>
	<tr><%= post.text %></tr>

	<%= link_to 'Update', edit_post_path(post) %>
	<%= link_to 'Delete', post, method: :delete, data:{ confirm: "You sure?" } %>
	<%end%>
<%end%>

<%= render 'comments/form' %>

<% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
	<% if pre_like %>
   <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete %>
 <% else %>
  <%= button_to 'Like', post_likes_path(post), method: :post %>
 <% end %>
  	<p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

  	<%#= render "show", post: @post%>

<%= link_to "Back", :back%>
<%= link_to "Way Home", root_path %>